



.myheading{
line-height: normal;
}

/* Default for large devices (desktops) */
.conplr {
  padding-left: 7rem;
  padding-right: 7rem;
}
.conmlr {
  margin-left: 7rem;
  margin-right: 7rem;
}
.conpl {
  padding-left: 7rem;
}
.conpr {
  padding-right: 7rem;
}
.conml {
  margin-left: 7rem;
}
.conmr {
  margin-right: 7rem;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
  .conplr {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .conmlr {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .conpl {
    padding-left: 5rem;
  }
  .conpr {
    padding-right: 5rem;
  }
  .conml {
    margin-left: 5rem;
  }
  .conmr {
    margin-right: 5rem;
  }
}

/* Small devices (large phones, 576px and up) */
@media (max-width: 768px) {
  .conplr {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .conmlr {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .conpl {
    padding-left: 3rem;
  }
  .conpr {
    padding-right: 3rem;
  }
  .conml {
    margin-left: 3rem;
  }
  .conmr {
    margin-right: 3rem;
  }
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 576px) {
  .conplr {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .conmlr {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .conpl {
    padding-left: 1.5rem;
  }
  .conpr {
    padding-right: 1.5rem;
  }
  .conml {
    margin-left: 1.5rem;
  }
  .conmr {
    margin-right: 1.5rem;
  }
}
/* Large devices with 1920px width and 1020px height */
@media (min-width: 1920px) and (min-height: 1020px) {
  .conplr {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .conmlr {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .conpl {
    padding-left: 8rem;
  }
  .conpr {
    padding-right: 8rem;
  }
  .conml {
    margin-left: 8rem;
  }
  .conmr {
    margin-right: 8rem;
  }
}


/* General Styles */
.logo {
  max-width: 70px; /* Adapts based on container size */
  height: auto;   /* Maintains aspect ratio */
}

/* Fine-tune for specific breakpoints */
@media (min-width: 1024px) {
  .logo {
    max-width: 70px; /* Smaller logo for desktop */
  }
}

@media (max-width: 767px) {
  .logo {
    max-width: 50px; /* Larger logo for smaller screens */
  }
}
